.cardContainer{
  margin-top: 8vh;
  margin-bottom: 10vh;
  margin-left: 28.5vw;
  display: flex;
  gap: 10vw;
}

.productName{
  text-align: left;
  font-size: 2rem;
  padding-left: 1.5vw;
  padding-top: 2.75vh;
  font-weight: bolder;  
}

.links{
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  font-size: .75rem;
}

