$background: #b32f2f;

header {
  background-color: $background;
  box-shadow: 0 -6px 4px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  z-index: 4;
}

.buttonGroupHeader{
  display: flex;
  justify-content: space-between;
}

.ourStoreButton{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-style: italic;
}

.ourStore{
  text-decoration: none;
  color: black;
  font-size: 1.05rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
}

.cart{
  text-decoration: none;
  color: black;
  font-size: 0.45rem;  
}