footer {
  background-color: #f2beba;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  padding: 15px;
}

.name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
}

.tools {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  color: #797979;
}