$background: #f5f5f5;

.simple-cart{
  font-size: 1.25rem;
  position: fixed;
  top: 4.5rem;
  right: 1rem;
  width: 200px;
  ul{
    background: $background;
    border: 1px solid $background;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }

}